/* Custom CSS styles */
body {
    background-image: url('../img/bg.jpg');
    background-size: cover; /* Adjusts the background image to cover the entire container */
    background-repeat: no-repeat;
    height: fit-content;
    width: auto;
    padding-bottom: 100px;
    /* Prevents the background image from repeating */
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(36, 36, 36);
    color: rgb(71, 198, 248);
    text-align: center;
    padding: 10px 0;
}